<!DOCTYPE html>
<html lang="en">

<head>
<style>
body {background-color: #A0A0A0;}
fieldset {background-color: #CF0000 ; width: 50%;}
form {class: "pure-form"}
.flashes {color #FF0000; text-align: center}
</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<title>Scene and Heard</title>
</head> 
<br>
<div style="background-color: #CF0000;" class="pure-menu pure-menu-open pure-menu-horizontal">
  <br>
  <div align="center">
    <font href="/" size="8" color="black"><b>Scene and Heard</b></font>
  </div>
</br>
</div>
</br>

{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class=flashes>
        {% for message in messages %}
        <p>{{ message }}
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
<body>
<div align="center">
{% block body %}
{% endblock %}
</div>
</body>

</html>
